html {
  font-size: 14px;
}

.enlaces-registro{
  float: right;
  position: relative;
  top: 14px;
  right: 18px;
}

form.buscador{
  padding: 0;
  text-align: center;
}

p.centrado{
  padding: 0;
  text-align: center;
}

img.avatar{
  max-height: 15px
}

.foto{
  max-height: 400px;
  width: 100%;
}

#foto-publicaciones{
  vertical-align: middle;
  max-height : 100px;
  width: 100%;
}

#votos-autores{
  font-size: 12px;
}